* {
	margin: 0;
}

html {
	overflow-x: hidden;
}

body {
	--body-black: #000;
	--body-dark: #403c40;
	--body-medium: #656565;
	--body-light: #f0f0f0;
	--body-white: #fff;
	--body-shadow: rgba(0, 0, 0, 0.5);
	--main-purple: #6735b4;

	--grid-m: 15px;
	--grid-s: 8px;

	width: 100vw;
	overflow-x: hidden;
	line-height: 20px;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;

	background-color: var(--body-light);
	color: var(--body-dark);
}

.list-container {
	margin: auto;
	color: var(--body-dark);
}

.header {
	position: fixed;
	top: 0;
	z-index: 2;

	width: 100%;
	height: 56px;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	background-color: var(--main-purple);
	color: var(--body-light);
	box-shadow: 0px 2px 10px -1px var(--body-shadow);
}

.header svg {
	margin: var(--grid-m);
	stroke: var(--body-light);
	stroke-width: 2;
}

.header h1 {
	margin: var(--grid-m);
	font-size: 19px;
	font-weight: lighter;
}

.list {
	margin-top: 73px;
	min-height: 100vh;
}

.item {
	position: relative;
	overflow: hidden;
	border-radius: 2.5px;

	max-height: 1000px;

	margin: 0px var(--grid-m);
	margin-bottom: var(--grid-s);

	background-color: var(--body-white);
	box-shadow: 0px 2px 8px -1px var(--body-shadow);

	transition: opacity 0.3s, margin 0.2s 0.2s, max-height 0.3s 0.2s, filter 0.3s;
	transition-timing-function: ease;
}

.item.released {
	transition: opacity 0.3s, margin 0.2s 0.2s, max-height 0.3s 0.2s, filter 0.3s,
		transform 0.2s;
}
.item.hint {
	filter: blur(1px);
	opacity: 0.5;
}

.item.active {
	box-shadow: 0px 2px 10px -1px var(--body-shadow);
}

.item.dismissed {
	max-height: 0.5px;
	opacity: 0;
	margin: 0px var(--grid-m);
	filter: blur(5px);
}

.author {
	display: flex;
	align-items: center;
}

.author .info {
	margin-top: 4px;
	line-height: 18px;
}

.author .name {
	font-size: 14px;
	font-weight: 900;
	color: var(--body-black);
}

.message-date {
	font-size: 12px;
	color: var(--body-medium);
}

.item p {
	padding: var(--grid-m);
	padding-top: 0px;
}

.item img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin: var(--grid-m);
	background-color: var(--body-light);
}

/*drawer menu styles*/

.drawer-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.2s 0s ease, transform 0.2s 0.2s ease;
	transform: translateX(-100vw);
}
.drawer-backdrop.open {
	background-color: rgba(0, 0, 0, 0.3);
	transform: translateX(0);
	transition: background-color 0.2s 0.2s ease, transform 0.2s 0s ease;
}

.drawer {
	position: fixed;
	left: 0;
	top: 0px;
	padding: 10px;
	width: 60vw;
	height: 100%;
	border-right: 1px solid var(--body-light);
	color: var(--body-dark);
	background-color: var(--body-white);
}

.drawer h3 {
	text-align: left;
	color: var(--body-dark);
	font-size: 16px;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin-bottom: 10px;
}

.drawer button {
	width: 100%;
	border: none;
	padding: 10px;
	padding-bottom: 0px;
	background-color: var(--body-white);
}

.drawer button h3 {
	color: var(--body-medium);
}

.loading {
	width: 200%;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 80px;
	color: var(--body-light);
}

/* throbber animations */

.throbber,
.throbber:before,
.throbber:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation-fill-mode: both;
	animation: load 1.8s infinite ease-in-out;
}

.throbber {
	color: var(--body-light);
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}

.throbber:before,
.throbber:after {
	content: '';
	position: absolute;
	top: 0;
}

.throbber:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.throbber:after {
	left: 3.5em;
}

@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em var(--body-shadow);
	}
	40% {
		box-shadow: 0 2.5em 0 0 var(--body-shadow);
	}
}
