* {
	margin: 0;
}

html {
	overflow-x: hidden;
}

body {
	--body-dark: #403c40;
	--body-medium: #605560;
	--body-light: #fafafa;
	--body-shadow: rgba(0, 0, 0, 0.3);

	width: 100vw;
	overflow-x: hidden;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;

	background-color: rgb(240, 240, 240);
	color: var(--body-dark);
}

.list-container {
	margin: auto;
	color: var(--body-dark);
}

.header {
	position: fixed;
	top: 0;
	z-index: 2;

	width: 100%;
	height: 45px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: rgb(103, 58, 183);
	color: var(--body-light);
	box-shadow: 3px 3px 10px -1px var(--body-shadow);
}

.header h1 {
	margin: 10px;
	font-size: 20px;
}

.list {
	margin-top: 55px;
	min-height: 100vh;
}

.item {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	border-bottom: 0px;
	max-height: 1050px;
	margin: 0px 15px;
	margin-bottom: 10px;

	background-color: var(--body-light);
	box-shadow: 3px 3px 10px -1px var(--body-shadow);

	transition: opacity 0.3s, margin 0.2s 0.2s, max-height 0.3s 0.2s, filter 0.3s;
	transition-timing-function: ease;
}
.item.released {
	transition: opacity 0.3s, margin 0.2s 0.2s, max-height 0.3s 0.2s, filter 0.3s,
		transform 0.2s;
}
.item.hint {
	filter: blur(1px);
	opacity: 0.5;
}
.item.dismissed {
	max-height: 0.5px;
	opacity: 0;
	margin: 0px 15px;
	filter: blur(5px);
}

.item p {
	padding: 10px;
	padding-top: 0px;
}

.author {
	display: flex;
	align-items: center;
}

.author h2 {
	font-size: 17px;
}

.message-date {
	font-weight: lighter;
	color: var(--body-medium);
}

.item h3 {
	float: right;
	position: absolute;
	right: 10px;
	top: 5px;
	color: var(--body-medium);
	font-weight: lighter;
}

.item img {
	width: 50px;
	height: 50px;
	border-radius: 50px;

	margin: 15px 10px 10px 15px;
	padding: 0.1px;

	background-color: var(--body-light);
	filter: sepia(1) hue-rotate(220deg) saturate(50%);
}

.loading {
	width: 200%;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 80px;
	color: var(--body-light);
}

/* throbber animations */

.throbber,
.throbber:before,
.throbber:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation-fill-mode: both;
	animation: load 1.8s infinite ease-in-out;
}

.throbber {
	color: var(--body-light);
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}

.throbber:before,
.throbber:after {
	content: '';
	position: absolute;
	top: 0;
}

.throbber:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.throbber:after {
	left: 3.5em;
}

@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em var(--body-shadow);
	}
	40% {
		box-shadow: 0 2.5em 0 0 var(--body-shadow);
	}
}
